body{
    margin-top: 3rem;
    /* font-family: 'Raleway', sans-serif;  */
    /* font-family: 'Montez', cursive; */
}


.container {
    padding-top: 2rem;

}

.form-twit {
    width: 75%;
    /* height: 270px; */
    height: 320px;
    padding: 15px;
    margin: 15px 0 25px 0;
    box-shadow: 1px 1px 16px 1px #cecece;
}

.comment {
    display: none;
}

.fa-arrow-up {
    display: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.image_upload_but{
    /* position: relative;
    overflow: hidden; */
    align-items: baseline;
    background: #00c851;
    color:white;
    border-radius: 5px;
    border: 1px solid green;
    text-align: start !important;
}
/* input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #ead2d0;
    opacity: 1;
    cursor: inherit;
    display: block;
} */
.perk{
    border: 1px solid black;
}
.navbar-brand {
    color:black;
    /* text-decoration: none; */
}
.navbar .nav-item .nav-link{
    color:brown;
}
a:link {
    color:brown;
    text-decoration: none;
}
a:visited{
    color:brown;
}
a:hover {
    color:red;
}
