<nav class="navbar navbar-expand-lg navbar-light style="background-color:#ce9c8a;">
        <a class="navbar-brand" href="/">Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'posts' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">All Posts<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mypost' %}">My Posts + Who followes me
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorites' %}">My Posts + Whom I follow
                    </a>
                </li>


                {% endif %}
            </ul>
               <ul class="navbar-nav">
                   <form class="form-inline my-2 my-lg-0">
                         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                   </form>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                         <a href="#" class="nav-link disabled">Welcome: {{user.username}}</a>
                     </li>
                    <li class="nav-item">
                         <a class='nav-link' href="{% url 'view_profile'%}">Profile</a>
                    </li>
                    <li>
                        <a class='nav-link' href="{% url 'view_profile' %}">
                            <img class="avatar" src="{{user.profile.get_avatar_url}}" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href="/accounts/logout/">Выход</a>
                    </li>

                   {% else %}
                       <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Вход</a>
                       </li>
                   {% endif %}
               </ul>
           </div>
       </nav>

{# Login modal #}
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Вход</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_login.html' %}
            </div>
        </div>
    </div>
</div>

{# Signup modal #}
<div class="modal fade" id="signupModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_signup.html' %}
            </div>
        </div>
    </div>
</div>
